.app {
  padding: 10px;
  font-family: sans-serif;
}

.app-input {
  display: inline-block;
}

label {
  display: inline-block;
  width: 200px;
  margin: 0 10px;
  text-align: right;
}

input {
  margin: 0;
}

.input {
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
}

.message {
  margin: 20px;
  color: red;
}

.key {
  color: red;
  font-weight: bold;
}

.value {
  color: black;
  font-weight: bold;
}

.key,
.value {
  margin-right: 10px;
}

.property {
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}

.property input {
  margin-right: 5px;
  min-width: 30px;
}

.value-group {
  color: black;
  padding: 3px 0 0 5px;
}

.property,
.value-group {
  margin-left: 30px;
  border: 1px solid black;
  border-width: 0 0 0 1px;
}

.property > input,
.value-group > input {
  border: none;
  background: none;
  padding: 0 10px 0 5px;
  border-right: 1px solid grey;
  opacity: 0.5;
}

.removable-scope .scope {
  /* text-decoration: line-through; */
  color: grey;
}

.redundant {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.diff {
  margin-top: 10px;
}
